<h1 class="text-center"> Welcome Wizards! </h1>

<p class="lead text-center">
  Come explore the wonderful world of Harry Potter.
  <br>
  Test your knowledge by taking a quiz.
  <br>
  Expand your knowledge by viewing an interactive spell visualization.
  <br>
  The site uses the data set from <%= link_to 'Tableau', 'http://public.tableau.com/views/TheSpellsofHarryPotter/HarryPotterSpells' %>.


<br>
