<!-- top navbar-->
<header class="header-container">
  <nav>
    <ul class="visible-xs-block">
      <li><a id="offcanvas-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
    </ul>

    <%= link_to '/' do %>
      <%= image_tag asset_path 'house_crest1.png' %>
    <% end %>

    <ul class="hidden-xs menu">
      <%= render 'layouts/nav_menu_left' %>
    </ul>



  </nav>
</header>

<aside class="sidebar-container">
  <div class="sidebar-content">
    <nav class="sidebar-nav">
      <ul>
        <%= render 'layouts/nav_menu_left' %>
      </ul>
    </nav>
  </div>
</aside>
